
.containerMenu {
    left: 0;
    right: 0;
    margin: 10vh auto 0 auto;
    position: absolute;
    width: 70vw;
    height: 50px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-bg-primary);
    border-radius: 30px; /*fazer variáveis disto depois */
}

li {
    display: block;
    color: var(--color-text-paragraph-light);
    font-family: var(--font-body);
    font-size: var(--paragraph-default-size);
}

li:hover {
    color: yellow;
    cursor: pointer;
}

.imagemCapivara {
    height: 80px;
    width: auto;
    position: relative;
    top: -13px;
}

@media only screen and (max-width: 390px) {
    .containerMenu {
        width: 80vw;
        gap: 0.2rem;
    }
}
@media only screen and (min-width: 600px) {
    .containerMenu {
        width: 50vw;
        max-width: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .containerMenu {
        width: 50vw;
    }
}