.hero {
    width: 100%;
    max-width: 100%;
    /*position: relative;*/
    overflow: hidden;
    max-height: 100svh;
    height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-primary);
}
