.GifCapivara {
    position: absolute;
    width: 80vw;
    height: auto;
    bottom: 14.5vh;
    left: 100vw;
    animation: CapivaraAndando 3s linear infinite;
    max-width: 576px;
}

@keyframes CapivaraAndando {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .GifCapivara {
        width: 60vw;
        bottom: 13.5vh;
    }
}

@media screen and (min-width: 1024px) {
    .GifCapivara {
        width: 30vw;
        animation: CapivaraAndando 5s linear infinite;
    }
}
@media screen and (min-width: 1440px) {
    .GifCapivara {
        width: 30vw;
        bottom: 13.5vh;
        animation: CapivaraAndando 5s linear infinite;
    }
}

@media screen and (min-width: 1600px) {
    .GifCapivara {
        width: 25vw;
        bottom: 14.4vh;
        animation: CapivaraAndando 5s linear infinite;
    }
}