.ContainerPrincipalHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 85svh;
    background-image: url("../../../assets/fundoHero.jpeg");
    background-size: cover;
    border-top: 24px solid var(--color-bg-primary);
    box-sizing: border-box;
}

h1 {
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .ContainerPrincipalHero {
        width: 80%;
        height: 85svh;
        border-top: 0px;
        margin-top: 64px;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .ContainerPrincipalHero {
        /*width: 90svw;*/
        width: calc(100% - 128px);
        height: 85svh;
        border-top: 0px;
        margin-top: 64px;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

@media screen and (min-width: 1600px) {
    .ContainerPrincipalHero {
        margin-top: 24px;
        width: 100%;
        height: calc(85svh - 24px);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 0px;
    }
}