.DivAnimacaoTextoDigitando{
    /*border: 3px solid red;*/
    height: 10vh;
    text-align: center;
    font-size: var(--paragraph-animation-fontsize-mobile);
}

.AnimacaoTextoDigitando{
    color: var(--color-text-paragraph-dark);
    font-family: var(--font-body), Arial, Helvetica, sans-serif;
    letter-spacing: var(--paragraph-default-letter-spacing);
    font-size: inherit;
    line-height: 100%;
    text-align: inherit;
    display: inline-block;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .DivAnimacaoTextoDigitando {
        font-size: var(--paragraph-animation-fontsize-tablet);
    }
}

@media screen and (min-width: 1024px){
    .DivAnimacaoTextoDigitando {
        font-size: var(--paragraph-animation-fontsize-desktop);
        height: 5vh;
    }
}
